@page "/"
@using System.ComponentModel.DataAnnotations

<PageTitle>UQ Degree Planner</PageTitle>

<MudText Typo="Typo.h2">Welcome to the degree planner!</MudText>
<MudText Typo="Typo.body1">Make sure that you meet your course requirements for your degree. Gives you peace of mind that your degree stays on track (no guarantees 💀). Made with UQ programs in mind.</MudText>
<MudText Typo="Typo.body2"><li>Program - Qualification you are working toward. Can include multiple degrees (e.g. Bachelors of Computer Science / Science [my program 🙂]) </li>
<li>Degrees - Qualification within a program (e.g. Computer Science + Science) </li>
<li>Plans - Pathway within a degree (e.g. Major in applied mathematics + Minor in bioinformatics in Bachelor of Science & None in Bachelor of Computer Science) </li>
<li>Courses - Subject within a plan (e.g. CSSE1001)</li>
</MudText>

<MudTextField Label="Program name" @bind-Value="program.Name" Typo="Typo.h3" MaxLength="@Limits.MaxCharacterLength" />

@* Degrees *@
<MudPaper MaxWidth="@($"{Form.WidthInPixels * 2}px")">
<MudText Typo="Typo.h6" >Degrees:</MudText>
    <MudStack Row=true>
        <MudPaper Style=@Form.FormStyle">
            <MudForm
                Model="@degreeInput"
                @bind-IsValid="@degreeForm.Success">

                <MudText Typo="Typo.subtitle1" Class="mb-3">
                Add any amount of degrees:
                </MudText>

                <MudTextField T="string"
                    @bind-Value="degreeInput.Name"
                    Label="Degree Name"
                    Required=true
                    Immediate=true
                    For="@(() => degreeInput.Name)"
                    MaxLength="@Limits.MaxCharacterLength" 
                    Validation="@( (Func<string, string?>)(name =>
                        {
                            if (!IsUniqueInList(program.GetAllDegrees(), name, d => d.Name))
                                return "Name must be unique";
                            else if (string.IsNullOrWhiteSpace(name))
                                return "Name is required";

                        return null;

                        }) )" />

                <MudTextField @bind-Value="degreeInput.UnitsRequired"
                            Label="Units required for the degree"
                            Required=true
                            InputType="InputType.Number"
                            For="@(() => degreeInput.UnitsRequired)" />

                <MudButton ButtonType="ButtonType.Button"
                Color="Color.Primary"
                Variant="Variant.Filled"
                @onclick="AddDegree"
                Disabled="@(!degreeForm.Success)">
                        Add Degree
                </MudButton>
            </MudForm>
        </MudPaper>

        <MudPaper MinWidth="@($"{Form.WidthInPixels}px")">
        <MudText>Degrees: (click to edit/view)</MudText>
        <MudList T="string">
                @foreach (Degree degree in program.Degrees)
                {
                    <MudListItem OnClick="() => EditItem(ref degreeInput, degree)">
                        <MudButton OnClick="() => DeleteItemFromList(program.Degrees, degree)">
                            <MudIcon icon=@Icons.Material.Filled.Delete Color=Color.Error Title="Delete!"/>
                        </MudButton>
                        @degree.Name
                    </MudListItem>  
                }
                <MudListItem OnClick="() => ResetItem(ref degreeInput)">Reset edit</MudListItem>
        </MudList>
    </MudPaper>

    </MudStack> 
</MudPaper>

@* Plans *@
<MudPaper MaxWidth="@($"{Form.WidthInPixels * 2}px")">
<MudText Typo="Typo.h6" >Plans:</MudText>
    <MudStack Row=true>
    <MudPaper Style=@Form.FormStyle>

        <MudForm
            Model="@planInput"
            @bind-IsValid="@planForm.Success">

            <MudText Typo="Typo.subtitle1" Class="mb-3">
            Add any amount of plans:
            </MudText>

            <MudTextField T="string"
                @bind-Value="planInput.Name"
                Label="Plan Name"
                Required=true 
                Immediate=true
                For="@(() => planInput.Name)"
                MaxLength="@Limits.MaxCharacterLength" 
                Validation="@( (Func<string, string?>)(name =>
                    {
                        if (!IsUniqueInList(program.GetAllPlans(), name, p => p.Name))
                            return "Name must be unique";
                        else if (string.IsNullOrWhiteSpace(name))
                            return "Name is required";

                    return null;

                    }) )" />

            <MudSelect @bind-Value="planInput.Type" Label="Select plan type" Placeholder="Please select">
                <MudSelectItem Value="@Plan.PlanType.Major">Major (16 units with 8 units of courses level 3 or higher)</MudSelectItem>
                <MudSelectItem Value="@Plan.PlanType.Minor">Minor (8 units with 4 units of courses at level 2 or higher)</MudSelectItem>
                <MudSelectItem Value="@Plan.PlanType.ExtendedMajor">Extended Major (24 units with 12 units of courses at level 3 or higher)</MudSelectItem>
                <MudSelectItem Value="@Plan.PlanType.None">None (No specific requirements / for electives)</MudSelectItem>
            </MudSelect>

            <MudSelect @bind-Value="planInput.DegreeFrom" Label="Which degree is this plan in?" Placeholder="Please Select" Required=true>
                @foreach (Degree degree in program.GetAllDegrees()) {
                    <MudSelectItem Value="@degree">@degree.Name</MudSelectItem>
                }
            </MudSelect>

            <MudButton ButtonType="ButtonType.Button"
            Color="Color.Primary"
            Variant="Variant.Filled"
            @onclick="AddPlan"
            Disabled="@(!planForm.Success)">
                    Add Plan
            </MudButton>
        </MudForm>
        </MudPaper>

        <MudPaper MinWidth="@($"{Form.WidthInPixels}px")">
        <MudText>Plans: (click to edit/view)</MudText>
        <MudList T="string">
                @foreach (Plan plan in program.GetAllPlans())
                {
                    <MudListItem OnClick="() => EditItem(ref planInput, plan)">
                        <MudButton OnClick="() => DeleteItemFromList(plan.DegreeFrom!.Plans, plan)">
                            <MudIcon icon=@Icons.Material.Filled.Delete Color=Color.Error Title="Delete!"/>
                        </MudButton>
                        @plan.Name
                    </MudListItem>  
                }
                <MudListItem OnClick="() => ResetItem(ref planInput)">Reset edit</MudListItem>
        </MudList>
    </MudPaper>

    </MudStack> 
</MudPaper>

@* Courses *@
<MudPaper MaxWidth="@($"{Form.WidthInPixels * 2}px")">
<MudText Typo="Typo.h6" >Courses: </MudText>
    <MudStack Row=true>
    <MudPaper Style=@Form.FormStyle>

        <MudForm
            Model="@courseInput"
            @bind-IsValid="@courseForm.Success">

            <MudText Typo="Typo.subtitle1" Class="mb-3">
            Add any amount of courses (each course is 2 units):
            </MudText>

            <MudTextField @bind-Value="courseInput.Name"
                        Label="Course Name"
                        Required=true
                        Immediate=true
                        For="@(() => courseInput.Name)"
                        MaxLength="@Limits.MaxCharacterLength" />

            <MudTextField T="string"
                @bind-Value="courseInput.Code"
                Label="Course Code"
                Required=true
                Immediate=true
                For="@(() => courseInput.Code)"
                MaxLength="@Limits.MaxCharacterLength"
                Validation="@( (Func<string, string?>)(code =>
                    {
                        if (!IsUniqueInList(program.GetAllCourses(), code, c => c.Code))
                            return "Course code must be unique";
                        else if (string.IsNullOrWhiteSpace(code))
                            return "Course code is required";

                    return null;

                    }) )"
    />


            <MudTextField @bind-Value="courseInput.PrequisiteInput"
                        Label="Prerequisites (course codes separated by commas, e.g. MATH1051,MATH1052)"
                        Required=false
                        For="@(() => courseInput.PrequisiteInput)"
                        MaxLength="@Limits.MaxCharacterLength"/>           

            <MudTextField @bind-Value="courseInput.CorequisiteInput"
                        Label="Corequisities (course codes separated by commas, e.g. MATH1051,MATH1052)"
                        Required=false
                        For="@(() => courseInput.CorequisiteInput)" 
                        MaxLength="@Limits.MaxCharacterLength" />
                        
            <MudTextField @bind-Value="courseInput.IncompatibilityInput"
                        Label="Incompatibilities (course codes separated by commas, e.g. MATH1051,MATH1052)"
                        Required=false
                        For="@(() => courseInput.IncompatibilityInput)"
                        MaxLength="@Limits.MaxCharacterLength" />

            <MudTextField @bind-Value="courseInput.Level"
                        Label="Level (it is the first digit of the official course code)"
                        Required=true
                        InputType="InputType.Number"
                        For="@(() => courseInput.Level)" />

            <MudCheckBox @bind-Value="courseInput.IsRequired" Label="Is taking your course strictly required to graduate?" Color="Color.Primary" Class="mt-3" />

            <MudSelect @bind-Value="courseInput.PlanFrom" Label="Which plan is this course in?" Placeholder="Please Select" Required=true>
                @foreach (Plan plan in program.GetAllPlans()) {
                    <MudSelectItem Value="@plan">@plan.Name</MudSelectItem>
                }
            </MudSelect>

            <MudButton ButtonType="ButtonType.Button"
            Color="Color.Primary"
            Variant="Variant.Filled"
            @onclick="AddCourse"
            Disabled="@(!courseForm.Success)">
                    Add Course
            </MudButton>

        </MudForm>
    </MudPaper>

        <MudPaper MinWidth="@($"{Form.WidthInPixels}px")">
            <MudText>Courses: (click to edit/view)</MudText>
            <MudList T="string">
                    @foreach (Course course in program.GetAllCourses())
                    {
                        <MudListItem OnClick="() => EditItem(ref courseInput, course)">
                            <MudButton OnClick="() => DeleteItemFromList(course.PlanFrom!.Courses, course)">
                                <MudIcon icon=@Icons.Material.Filled.Delete Color=Color.Error Title="Delete!"/>
                            </MudButton>
                            @($"{course.Name} ({course.Code})")
                        </MudListItem>  
                    }
                    <MudListItem OnClick="() => ResetItem(ref courseInput)">Reset edit</MudListItem> @* My bad about the copy paste*@
            </MudList>
        </MudPaper>

    </MudStack> 
</MudPaper>

@* Semesters *@

<MudStack Style="margin: 1.5rem">
    <MudPaper MaxWidth="@($"{Form.WidthInPixels * 2}px")">

        @foreach (var semester in Semesters)
{
    <MudPaper Class="pa-4 ma-2">

        <MudText Typo="Typo.h6">@semester.Name</MudText>

        <MudTable Items="@semester.Courses" Editable="true">
            <HeaderContent>
                <MudTh>Code</MudTh>
                <MudTh>Name</MudTh>
            </HeaderContent>

            <RowTemplate>
                <MudTd>
                    <MudSelect T="string" @bind-Value="context.Code">
                        @foreach (Course course in program.GetAllCourses()) {
                            <MudSelectItem Value="@course.Code">@course.Code</MudSelectItem>
                        }
                        
                    </MudSelect>
                </MudTd>
                <MudTd>
                    <MudText>@program.GetAllCourses().FirstOrDefault(c => c.Code == context.Code)?.Name</MudText>
                </MudTd>
            </RowTemplate>
        </MudTable>

        <MudButton OnClick="@(() => semester.Courses.Add(new Course()))">
            Add Course
        </MudButton>

    </MudPaper>
}

    <MudButton Variant="Variant.Filled" 
            StartIcon="@Icons.Material.Filled.Add" 
            Color="Color.Primary"
            OnClick="AddSemester">
            Add Semester
            </MudButton>

    <MudButton Variant="Variant.Filled" 
            StartIcon="@Icons.Material.Filled.Add" 
            Color="Color.Primary"
            OnClick="DeleteSemester"
            Disabled="!CanDeleteSemester">
            Delete Semester
            </MudButton>

    </MudPaper>
</MudStack>

@code {

    // Used for form UI
    public class Form {
        public static readonly string FormStyle = $"width:{WidthInPixels}px; margin-top:20px; padding:20px;"; // Style=@formStyle
        public bool Success {set; get; } = false;
        public const int WidthInPixels = 700;
    }
    
    Form degreeForm = new Form();
    Form planForm = new Form();
    Form courseForm = new Form();

    // Structure: one Program -> listOfDegrees -> listofPlans --> listofCourses

    // Only ONE program instance
    Program program = new Program();
    Degree degreeInput = new Degree();
    Plan planInput = new Plan();
    Course courseInput = new Course();
    List<Semester> Semesters = new List<Semester>();
    int NumberOfSemesters {set; get;} = Limits.MinSemesters;
    int NumberOfCourses {set; get;} = 4;
    List<Course> Courses {set; get;} = new List<Course>();

    void AddDegree() {
        degreeInput.ProgramFrom = program;
        
        if (degreeInput.Name != string.Empty) { // <- don't delete this. the form is buggy
            program.Degrees.Add(degreeInput);
        }

        ResetItem(ref degreeInput);
    }

    void AddPlan() {

        if (planInput.Name != string.Empty) { // <- don't delete this. the form is buggy
            planInput.DegreeFrom!.Plans.Add(planInput);
        }

        ResetItem(ref planInput);
    }

    void AddCourse() {

        if (courseInput.Code != string.Empty) { // <- don't delete this. the form is buggy
            courseInput.PlanFrom!.Courses.Add(courseInput);
        }

        ResetItem(ref courseInput);
    }

    void AddSemester() {
        Semesters.Add(new Semester($"Semester {(Semesters.Count + 1).ToString()}"));
    }

    void DeleteSemester() {
        if (CanDeleteSemester) {
            Semesters.RemoveAt(Semesters.Count - 1); // Remove last element
        }
    }
    bool CanDeleteSemester => Semesters.Count > 0;

    void DeleteItemFromList<T>(List<T> list, T item) {
        list.Remove(item);
    }

    void EditItem<T>(ref T itemInput, T item) {
        itemInput = item;
    }

    void ResetItem<T>(ref T itemInput) where T : new() {
        itemInput = new T();
    }

    bool IsUniqueInList<T>(List<T> list, string value, Func<T, string> selector)   
    {
        // ignores case
        return !list.Any(item =>
        string.Equals(selector(item), value, StringComparison.OrdinalIgnoreCase));
    }
}