@page "/"
@using Microsoft.VisualBasic

@inject HttpClient Http

<PageTitle>UQ Degree Planner</PageTitle>

<h2>Welcome to the UQ (University of Queensland) Degree Planner!</h2>
<p>Gives you peace of mind that your UQ degree stays on track (no guarantees 💀). Only for bachelor degrees (since every single degree would be way more work).</p>


<MudStack Direction="Row" 
        Justify="Justify.FlexStart"
        Style="flex-direction: row !important; max-width: 1000px; margin-bottom: 20px;">


    <MudNumericField 
        T="int"
        Label="Number of semesters"
        @bind-Value="numberOfSemesters"
        Min="@SemesterLimits.Min"
        Max="@SemesterLimits.Max"
        Style="@($"width: {numericFieldWidth}px;")" 
    />

    <MudNumericField 
        T="int"
        Label="Courses per semester"
        @bind-Value="numberOfCourses"
        Min="@CoursePerSemesterLimits.Min"
        Max="@CoursePerSemesterLimits.Max"
        Style="@($"width: {numericFieldWidth}px;")" 
    />

    <!-- Program Dropdown -->
    <MudAutocomplete 
        T="string"
        Label="Search for your program"
        SearchFunc="DropdownSearchFunc"
        Clearable="true" 
        ValueChanged="OnValueChanged"
    />
</MudStack>

@if (currentProgram is null) {
    <h3>Please select a program</h3>
} else {
    <h3>Current Program: @currentProgram</h3>
    <p>Program requirements: the entire point and i havent done it sooooooo sucked in</p>
    <video id="player"
       autoplay
       playsinline
       controls
       preload="auto">
    <source src="lib/bootstrap/dist/video.mp4" type="video/mp4" />
    <!-- Shhhhhhhhhhhh-->
</video>

<p>Idk if I want to continue this project tbh. I've learnt a ton from this so this has still been productive. Should I just make this a rickroll website or like</p>
}


@code {
    
    const int numericFieldWidth = 200;
    private int _numberOfSemesters = SemesterLimits.Min;
    private int _numberOfCourses = 4;
    private List<string>? programList { get; set; }
    private string? currentProgram;
    protected override async Task OnInitializedAsync()
    {
        programList = await getProgramList();
    }

    // Idk what this does lol
    private Task<IEnumerable<string>> DropdownSearchFunc(string value, CancellationToken token)
    {
        if (string.IsNullOrWhiteSpace(value))
            return Task.FromResult(programList.AsEnumerable());

        return Task.FromResult(
            programList.Where(x =>
                x.Contains(value, StringComparison.OrdinalIgnoreCase))
        );
    }

    private void OnValueChanged(string newValue)
    {
        if (newValue is not null) {
            currentProgram = newValue;
        }
    }
}








